## カテゴリ毎の画像を predict_proba で一括処理してみる

In [1]:
import os
import datetime
import glob
import pandas as pd
import numpy as np
from PIL import Image

from tensorflow.keras.models import load_model

In [2]:
img_cat_paths = glob.glob('../../data/images/categorized-2/*')
print(img_cat_paths)

['../../data/images/categorized-2/0', '../../data/images/categorized-2/120', '../../data/images/categorized-2/1', '../../data/images/categorized-2/4', '../../data/images/categorized-2/3', '../../data/images/categorized-2/2']

In [3]:
img_paths = glob.glob(os.path.join(img_cat_paths[0], '*'))
print(img_paths[:10])

['../../data/images/categorized-2/0/3510_51hrOxCUAPL.jpg', '../../data/images/categorized-2/0/1586_61oaqjd8zjL.jpg', '../../data/images/categorized-2/0/1186_51W3vU8PLTL.jpg', '../../data/images/categorized-2/0/3671_511tzUSH1pL.jpg', '../../data/images/categorized-2/0/3317_514BfQwGaOL.jpg', '../../data/images/categorized-2/0/1189_61qaJjhikHL.jpg', '../../data/images/categorized-2/0/1687_61Aga5lQVzL.jpg', '../../data/images/categorized-2/0/2854_51dI5XisLEL.jpg', '../../data/images/categorized-2/0/3937_5182erE9KLL.jpg', '../../data/images/categorized-2/0/2349_61tkmhp+0LL.jpg']

In [4]:
img = Image.open(img_paths[0])
img_resize = img.resize((229, 229))
img_np = np.asarray(img_resize) / 255.0
x = img_np.reshape(1, 229, 229, 3)
print(x.shape)

(1, 229, 229, 3)

In [5]:
model = load_model('../../data/category-2.h5', compile=False)

In [6]:
np.set_printoptions(precision=5, suppress=True)

In [7]:
print(datetime.datetime.now().isoformat(), 'Start')

y = np.argmax(model.predict(x))
y_proba = model.predict_proba(x)
#y_proba = np.round((y_proba[0] * 100), 5)
print(y, y_proba)

print(datetime.datetime.now().isoformat(), 'End')

2020-06-23T19:08:44.255643 Start
2 [[0.00899 0.00001 0.99081 0.0002 ]]
2020-06-23T19:08:45.703690 End

In [9]:
print(datetime.datetime.now().isoformat(), 'Start')

book = []
x = []

#for img_path in img_paths[:5]:
for img_path in img_paths:
    img = Image.open(img_path)
    img_resize = img.resize((229, 229))
    img_np = np.asarray(img_resize) / 255.0

    x.append(img_np)
    book.append(os.path.basename(img_path).split('_')[0])

    
print(datetime.datetime.now().isoformat(), 'End')

x = np.array(x)
print(x.shape)
print(len(book))

2020-06-23T19:10:21.643063 Start
2020-06-23T19:10:33.441788 End
(1678, 229, 229, 3)
1678

In [11]:
print(datetime.datetime.now().isoformat(), 'Start')

y = model.predict(x)
#y_proba = model.predict_proba(x)
#y_proba = np.round((y_proba[0] * 100), 5)
#print(y)
#print(y_proba)

print(datetime.datetime.now().isoformat(), 'End')

2020-06-23T19:13:25.212156 Start
2020-06-23T19:15:46.944839 End

In [12]:
df = pd.DataFrame(y)
df.head()

          0             1             2             3
0  0.008985  6.291282e-06  9.908112e-01  1.971286e-04
1  0.001824  1.627494e-03  9.724855e-01  2.406249e-02
2  1.000000  5.512753e-10  1.400836e-09  2.287567e-07
3  0.999912  6.751578e-06  6.415776e-05  1.699237e-05
4  0.002394  3.050057e-02  8.237367e-01  1.433683e-01

In [17]:
df = df.join(pd.DataFrame(book, columns=['book_id']))
df.head()

          0             1             2             3 book_id
0  0.008985  6.291282e-06  9.908112e-01  1.971286e-04    3510
1  0.001824  1.627494e-03  9.724855e-01  2.406249e-02    1586
2  1.000000  5.512753e-10  1.400836e-09  2.287567e-07    1186
3  0.999912  6.751578e-06  6.415776e-05  1.699237e-05    3671
4  0.002394  3.050057e-02  8.237367e-01  1.433683e-01    3317

In [19]:
df.to_csv('../../data/cat2-0_predict_result.csv')

In [22]:
#np.set_printoptions(suppress=True)
pd.options.display.precision = 10

In [23]:
df.head()

              0             1             2             3 book_id
0  0.0089853937  0.0000062913  0.9908112288  0.0001971286    3510
1  0.0018243644  0.0016274942  0.9724855423  0.0240624938    1586
2  0.9999997616  0.0000000006  0.0000000014  0.0000002288    1186
3  0.9999120235  0.0000067516  0.0000641578  0.0000169924    3671
4  0.0023943314  0.0305005666  0.8237366676  0.1433683485    3317

In [24]:
df.to_csv('../../data/cat2-0_predict_result_2.csv')

In [25]:
img_paths = glob.glob(os.path.join(img_cat_paths[1], '*'))
print(img_paths[:10])


print(datetime.datetime.now().isoformat(), 'Start')

book = []
x = []

for img_path in img_paths:
    img = Image.open(img_path)
    img_resize = img.resize((229, 229))
    img_np = np.asarray(img_resize) / 255.0

    x.append(img_np)
    book.append(os.path.basename(img_path).split('_')[0])

    
print(datetime.datetime.now().isoformat(), 'End')

x = np.array(x)
print(x.shape)
print(len(book))


print(datetime.datetime.now().isoformat(), 'Start')

y = model.predict(x)

print(datetime.datetime.now().isoformat(), 'End')

df = pd.DataFrame(y)
df = df.join(pd.DataFrame(book, columns=['book_id']))
df.head()

['../../data/images/categorized-2/120/1542_61rFvK7GoBL.jpg', '../../data/images/categorized-2/120/3036_51VlfmLrH2L.jpg', '../../data/images/categorized-2/120/2293_51+q2nOat9L.jpg', '../../data/images/categorized-2/120/1776_61l0h94BYuL.jpg', '../../data/images/categorized-2/120/1166_5116tVSL5XL.jpg', '../../data/images/categorized-2/120/1561_61+Jlk17RBL.jpg', '../../data/images/categorized-2/120/2926_51YcWjIgotL.jpg', '../../data/images/categorized-2/120/2526_61pxxk4b3aL.jpg', '../../data/images/categorized-2/120/1516_61E+pfrQUPL.jpg', '../../data/images/categorized-2/120/1360_61qAlCK5MaL.jpg']
2020-06-23T19:37:29.202475 Start
2020-06-23T19:37:32.250316 End
(439, 229, 229, 3)
439
2020-06-23T19:37:32.829364 Start
2020-06-23T19:38:10.965567 End

              0             1             2             3 book_id
0  0.0000168809  0.9997460246  0.0000004139  0.0002367397    1542
1  0.0607075803  0.9381796122  0.0008511520  0.0002616851    3036
2  0.1982094496  0.7749204040  0.0190721173  0.0077979434    2293
3  0.0005098631  0.9988854527  0.0001001678  0.0005045321    1776
4  0.6546356082  0.0003786710  0.0001533357  0.3448323607    1166

In [26]:
df.to_csv('../../data/cat2-120_predict_result.csv')

In [27]:
img_paths = glob.glob(os.path.join(img_cat_paths[2], '*'))
print(img_paths[:3])


print(datetime.datetime.now().isoformat(), 'Start')

book = []
x = []

for img_path in img_paths:
    img = Image.open(img_path)
    img_resize = img.resize((229, 229))
    img_np = np.asarray(img_resize) / 255.0

    x.append(img_np)
    book.append(os.path.basename(img_path).split('_')[0])

    
print(datetime.datetime.now().isoformat(), 'End')

x = np.array(x)
print(x.shape)
print(len(book))


print(datetime.datetime.now().isoformat(), 'Start')

y = model.predict(x)

print(datetime.datetime.now().isoformat(), 'End')

df = pd.DataFrame(y)
df = df.join(pd.DataFrame(book, columns=['book_id']))

df.to_csv('../../data/cat2-1_predict_result.csv')

df.head()

['../../data/images/categorized-2/1/2069_51PSlfSvlpL.jpg', '../../data/images/categorized-2/1/1050_51VwzX-rjZL.jpg', '../../data/images/categorized-2/1/2765_51NP8cuAADL.jpg']
2020-06-23T19:41:47.772983 Start
2020-06-23T19:41:51.318268 End
(496, 229, 229, 3)
496
2020-06-23T19:41:52.041983 Start
2020-06-23T19:42:36.729964 End

              0             1             2             3 book_id
0  0.1601600647  0.8063572645  0.0117670922  0.0217155330    2069
1  0.0000000038  0.9999997616  0.0000002424  0.0000000139    1050
2  0.0003648240  0.0000533393  0.9804465771  0.0191352479    2765
3  0.0000001231  0.9999992847  0.0000001587  0.0000004268    3020
4  0.0000532680  0.6635441780  0.0000003879  0.3364022076    1886

In [28]:
img_paths = glob.glob(os.path.join(img_cat_paths[3], '*'))
print(img_paths[:3])


print(datetime.datetime.now().isoformat(), 'Start')

book = []
x = []

for img_path in img_paths:
    img = Image.open(img_path)
    img_resize = img.resize((229, 229))
    img_np = np.asarray(img_resize) / 255.0

    x.append(img_np)
    book.append(os.path.basename(img_path).split('_')[0])

    
print(datetime.datetime.now().isoformat(), 'End')

x = np.array(x)
print(x.shape)
print(len(book))


print(datetime.datetime.now().isoformat(), 'Start')

y = model.predict(x)

print(datetime.datetime.now().isoformat(), 'End')

df = pd.DataFrame(y)
df = df.join(pd.DataFrame(book, columns=['book_id']))

df.to_csv('../../data/cat2-4_predict_result.csv')

df.head()

['../../data/images/categorized-2/4/2265_619SPAvkdqL.jpg', '../../data/images/categorized-2/4/2356_51iKrbpvXdL.jpg', '../../data/images/categorized-2/4/1691_51CINE--oSL.jpg']
2020-06-23T19:46:35.183375 Start
2020-06-23T19:46:35.425104 End
(27, 229, 229, 3)
27
2020-06-23T19:46:35.446388 Start
2020-06-23T19:46:37.368456 End

              0             1             2             3 book_id
0  0.0001918935  0.0000047054  0.9996205568  0.0001828192    2265
1  0.0000965025  0.9999034405  0.0000000066  0.0000000002    2356
2  0.0000000914  0.0000002604  0.9999996424  0.0000000139    1691
3  0.0000000311  0.9999997616  0.0000000254  0.0000002468    1704
4  0.0000018375  0.9999768734  0.0000213215  0.0000000161    3707

In [30]:
os.path.join(img_cat_paths[4])

'../../data/images/categorized-2/3'

In [31]:
img_paths = glob.glob(os.path.join(img_cat_paths[4], '*'))
print(img_paths[:3])


print(datetime.datetime.now().isoformat(), 'Start')

book = []
x = []

for img_path in img_paths:
    img = Image.open(img_path)
    img_resize = img.resize((229, 229))
    img_np = np.asarray(img_resize) / 255.0

    x.append(img_np)
    book.append(os.path.basename(img_path).split('_')[0])

    
print(datetime.datetime.now().isoformat(), 'End')

x = np.array(x)
print(x.shape)
print(len(book))


print(datetime.datetime.now().isoformat(), 'Start')

y = model.predict(x)

print(datetime.datetime.now().isoformat(), 'End')

df = pd.DataFrame(y)
df = df.join(pd.DataFrame(book, columns=['book_id']))

df.to_csv('../../data/cat2-3_predict_result.csv')

df.head()

['../../data/images/categorized-2/3/1464_51uac+sVJLL.jpg', '../../data/images/categorized-2/3/3182_51FIO62UznL.jpg', '../../data/images/categorized-2/3/3110_51IK-CSP8PL.jpg']
2020-06-23T19:48:13.379170 Start
2020-06-23T19:48:14.179892 End
(111, 229, 229, 3)
111
2020-06-23T19:48:14.271397 Start
2020-06-23T19:48:22.526452 End

                  0                 1                 2             3 book_id
0  1.0891761937e-09  8.3540667717e-09  1.3287035472e-07  0.9999998808    1464
1  5.3803852040e-08  1.2549931094e-09  3.9708089594e-10  1.0000000000    3182
2  2.0572367421e-10  4.3171755060e-10  1.4530149306e-10  1.0000000000    3110
3  4.1535868078e-09  4.9455889384e-10  1.1268658540e-07  0.9999998808    3312
4  2.6883905258e-12  3.3059714688e-11  2.5366139744e-11  1.0000000000    2191

In [32]:
os.path.join(img_cat_paths[5])

'../../data/images/categorized-2/2'

In [33]:
img_paths = glob.glob(os.path.join(img_cat_paths[5], '*'))
print(img_paths[:3])


print(datetime.datetime.now().isoformat(), 'Start')

book = []
x = []

for img_path in img_paths:
    img = Image.open(img_path)
    img_resize = img.resize((229, 229))
    img_np = np.asarray(img_resize) / 255.0

    x.append(img_np)
    book.append(os.path.basename(img_path).split('_')[0])

    
print(datetime.datetime.now().isoformat(), 'End')

x = np.array(x)
print(x.shape)
print(len(book))


print(datetime.datetime.now().isoformat(), 'Start')

y = model.predict(x)

print(datetime.datetime.now().isoformat(), 'End')

df = pd.DataFrame(y)
df = df.join(pd.DataFrame(book, columns=['book_id']))

df.to_csv('../../data/cat2-2_predict_result.csv')

df.head()

['../../data/images/categorized-2/2/3161_51jedCRU18L.jpg', '../../data/images/categorized-2/2/2617_615KSpMZblL.jpg', '../../data/images/categorized-2/2/2409_61FnLs9aVDL.jpg']
2020-06-23T19:49:12.979132 Start
2020-06-23T19:49:13.933853 End
(132, 229, 229, 3)
132
2020-06-23T19:49:14.044185 Start
2020-06-23T19:49:23.845580 End

                  0                 1             2             3 book_id
0  2.6130981823e-08  2.2737962624e-08  0.9999998808  0.0000000755    3161
1  4.3539095398e-13  1.1684609877e-11  1.0000000000  0.0000000001    2617
2  2.3020022581e-06  1.3009464617e-08  0.9999945164  0.0000032480    2409
3  1.7717728396e-09  9.6816643591e-10  1.0000000000  0.0000000461    1564
4  2.7234500521e-07  4.0093578235e-08  0.9999995232  0.0000000601    3601